vim/bundle/*
!vim/bundle/Vundle.vim
vim/backup/*
vim/config/*
vim/non_used/*
vim/tmp/*
vim/undo/*
vim/tags/*
vim/.netrwhist
vim/.VimballRecord
tmux/plugins/*
!tmux/plugins/tpm
*.swp
*.out
*.log
*.pyc
*~
